* {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.impressum-wrapper {
  margin: 0 5%;
}

.impressum_block {
  height: 20em;
}

.impressum-wrapper h1 {
  margin-bottom: 1em;
}

.impressum-wrapper h2 {
  margin-bottom: 0.5em;
  margin-top: 3em;
  font-weight: 600;
}
.impressum-wrapper h3 {
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.impressum-wrapper p {
  max-width: 60ch;
}

.außschluss {
  margin-top: 2em;
}

@media only screen and (max-width: 650px) {
  .impressum-wrapper h2 {
    margin-top: 2em;
  }

  h1 {
    font-size: 4em;
  }
}
