.mag-img {
  max-width: 50%;
}

.mag-img-small {
  max-width: 47.5%;
}

@media only screen and (max-width: 1250px) {
  .mag-img {
    max-width: 100%;
  }

  .mag-img-small {
    max-width: 100%;
    margin-top: 5em;
  }

  .info-text {
    margin: 2em 5%;
  }
}
