.mag-web-img {
  width: 50%;
  margin-top: 10em;
}

.mag-img-small {
  width: 40%;
  margin-left: 5%;
  margin-top: 10em;
}

.button > a {
  text-decoration: none;
}

@media only screen and (max-width: 1250px) {
  .mag-web-img {
    margin-top: 5em;
    width: 100%;
    margin-bottom: 5em;
  }

  .mag-img-small {
    margin-top: 5em;
    width: 90%;
  }
}
