.moire-circles {
  max-width: 50%;
  margin-left: 5%;
  margin-top: 20em;
  display: inline-block;
}

.fright {
  display: inline-block;
  margin-left: 5%;
}

.info-text {
  position: relative;
  top: -10em;
  width: 30%;
}

.info-text2 {
  position: relative;
  top: -50em;
  width: 30%;
}

.info-text {
  width: 100% !important;
  top: 0;
  margin: 0 0;
}
.poster-wrapper {
  text-align: right;
}

.posters1 {
  max-width: 100%;
  margin-right: 5%;
}

.posters2 {
  max-width: 100%;
  margin-right: 5%;
  margin-top: 5em;
}

.poster-text {
  position: relative;
  text-align: left;
  margin-left: 10%;
  top: 12em;
  width: 40ch;
}

.poster-text-wrap {
  margin-right: 2em;
}

.projekt-head {
  text-align: left;
  margin-left: 0;
  position: relative;
  font-size: 5em;
  margin-bottom: 1em;
}

.button-wrap {
  text-align: left;
}

.poster-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 3em;
  font-size: 2.5em;
}

.poster-button span {
  padding: 0.3em 1.5em;
  border: 3px solid white;
}

.button > a {
  text-decoration: none;
}

.poster-button > a {
  text-decoration: none;
}

.video-block {
  margin-left: 5%;
  margin-top: 20em;
  width: 90%;
  text-align: center;
}

.poster-button2 {
  display: none;
}

.video-block > * {
  margin: 5em;
}

.prog-poster-wrap {
  pointer-events: none;
  max-width: 60%;
}

.smaller {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .moire-circles {
    max-width: 90%;
  }

  .posters1 {
    max-width: 100%;
  }

  .posters2 {
    max-width: 100%;
  }

  .prog-poster-wrap {
    pointer-events: none;
    max-width: 100%;
    margin-top: 5em;
  }

  .poster-button {
    display: none;
  }

  .poster-button2 {
    display: block;
    margin-top: 2em;
  }

  .moire-circles {
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .video-block {
    margin-top: 5em;
  }

  .videos {
    max-width: 100%;
    margin: 2em 0;
  }
}

@media only screen and (max-width: 365px) {
  .too-big {
    display: none;
  }

  .smaller {
    display: block;
  }
}
