.card {
  max-width: 47.5%;
}

.letter {
  max-width: 47.5%;
}

.second-text {
  margin-left: 10%;
  margin-top: 15em;
}

.img-wrapper {
  margin-top: 30em;
}

.flyer {
  max-width: 60%;
}

.posters {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 20em;
}

@media only screen and (max-width: 1250px) {
  .card {
    max-width: 100%;
    margin-bottom: 5em;
  }

  .letter {
    max-width: 100%;
  }

  .flyer {
    max-width: 100%;
    margin-top: 5em;
  }

  .posters {
    max-width: 90%;
    margin-left: 5%;
    margin-top: 5em;
  }
}
