.fright {
  display: inline-block;
  margin-left: 5%;
}

.fleft {
  position: relative;
  top: -70em;
  margin-bottom: -70em;
}

.info-text {
  position: relative;
  top: -10em;
  width: 30%;
}

.poster-small {
  max-height: 70vh;
  margin-left: 5%;
  margin-top: 20em;
  display: inline-block;
}

.poster-big {
  max-height: 90vh;
  margin-left: 5%;
  margin-top: 20em;
  display: inline-block;
}

.poster-big2 {
  max-height: 110vh;
  margin-left: 5%;
  margin-top: 20em;
  display: inline-block;
}

.img-text-wrapper {
  width: 100%;
}

.poster-right {
  text-align: right;
  margin-right: 5%;
}

.info-text2 {
  position: relative;
  top: 20em;
  width: 30%;
}

.img-wrapper {
  width: 100%;
  display: block;
}

.poster1 {
  position: relative;
  top: 10em;
}
