.poster-small {
  max-height: 70vh;
  margin-left: 5%;
  width: 47.5%;

  display: inline-block;
}

.poster-big {
  max-height: 90vh;
  margin-left: 0;
  width: 30%;
  display: inline-block;
}

.poster-big2 {
  max-height: 90vh;
  margin-left: 5%;
  width: 47.5%;
  display: inline-block;
  object-fit: contain;
}

.img-wrapper {
  width: 100%;
  display: block;
}

.poster1 {
  position: relative;
  width: 47.5%;
}

.text-img-wrapper {
  justify-content: space-evenly;
}

.flex-wrapper {
  justify-content: space-evenly;
}

@media only screen and (max-width: 1250px) {
  .text-img-wrapper {
    justify-content: center;
  }

  .flex-wrapper {
    justify-content: center !important;
  }

  .poster-big {
    margin-left: 0;
    max-height: 90vh;
    width: 100%;
    object-fit: contain;
    margin-bottom: 5em;
  }

  .poster-big2 {
    width: 100%;
    margin-left: 0;
  }
}
