* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: roc-grotesk, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(23, 23, 24);
}

.text {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
}

.italic {
  font-style: italic;
}

.white {
  color: white;
}

.red {
  color: rgb(234, 66, 106);
}

.red-outline {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(234, 66, 106);
}

.white-outline {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

h1 {
  font-size: 6em;
  font-weight: 500;
}

h2 {
  font-size: 3em;
  font-weight: 500;
}

h3 {
  font-size: 2.5em;
  font-weight: 400;
}

.works-intro {
  width: 90%;
  margin: 0 5% 10em 5%;
  padding-top: 20em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-text {
  position: relative;
  top: 0;
  margin: 0 5%;
  max-width: 40ch;
}

.intro-wrapper {
  margin: 0 0;
  display: inline-block;
  max-width: 38%;
  flex-grow: 2;
}

.intro-wrapper h1 {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  line-height: 100%;
}

.sub-head {
  margin-top: 0.5em;
}

.intro-text {
  margin-top: 5em;
  display: inline-block;
}

.title-img {
  width: 60%;
  object-fit: contain;
}

.next {
  margin-top: 10rem;
  text-align: center;
  margin-bottom: -10em;
}

.next a {
  text-decoration: none;
}

.next-text {
  font-weight: 600;
  font-size: 20em;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px rgb(234, 66, 106);

  transition: color 0.2s ease-in-out;
}

.next:hover .next-text {
  color: rgba(234, 66, 106, 1);
}

.button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 3em;
  font-size: 2.5em;
}

.button span {
  padding: 0.3em 1.5em;
  border: 3px solid white;
}

.text-img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10em 5%;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10em 5%;
}

@media only screen and (max-width: 1250px) {
  .works-intro {
    flex-direction: column-reverse;
    padding-top: 10em;
    margin-bottom: 5em;
  }

  .text-img-wrapper {
    flex-direction: column;
    margin: 5em 5%;
  }

  .flex-wrapper {
    flex-direction: column;
    margin: 5em 5%;
  }

  .intro-wrapper {
    max-width: 70%;
    margin-top: 3em;
  }

  .title-img {
    width: 100%;
  }

  .info-text {
    max-width: 40ch;
    margin: 2em 0 !important;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 950px) {
  .next {
    margin-bottom: 0em;
  }

  .intro-wrapper {
    max-width: 90%;
    margin-top: 3em;
  }

  .info-text {
    max-width: none;
  }
}

@media only screen and (max-width: 780px) {
  .text {
    font-size: 2rem;
  }

  .intro-text {
    margin-top: 3em;
  }

  .text-img-wrapper {
    flex-direction: column;
    margin: 2em 5%;
  }

  .flex-wrapper {
    flex-direction: column;
    margin: 2em 5%;
  }

  .next-text {
    font-weight: 600;
    font-size: 12em;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px rgb(234, 66, 106);
  }
}

@media only screen and (max-width: 450px) {
  .next-text {
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgb(234, 66, 106);
  }

  h1 {
    font-size: 4em;
  }

  .red-outline {
    -webkit-text-stroke: 1px rgb(234, 66, 106);
  }
}